button {
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 1em 2em;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 800px;
   }
   
   button:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
   }
   
   button:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
   }
   
   @keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
   
    50% {
     background-position: 100% 50%;
    }
   
    100% {
     background-position: 0% 50%;
    }
   }



   h4, h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

   }

   .nav-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }


   h2 {
       
       align-items: center;
   }


   .nav-links {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .nav-links a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  .nav-links a:hover {
    border-bottom: 3px solid red;
  }
  
  .nav-links a.active {
    border-bottom: 3px solid red;
  }

  h4 {
      font-size: 30px;
  }